/* dadjokes/static/dadjokes/styles.css */

/* ------------------------------ */
/* base.html specific */
body {
    background-color: #362c2c;
    font-family: "Comic Sans MS", "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #191414;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.navList {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navList li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    transition: color 0.2s ease;
}

.navList li a:hover {
    color: #e4f54e;
}
/* ------------------------------ */



/* ------------------------------ */
/* common class styles */
.container {
    max-width: 500px;
    width: 90%;
    margin: 2rem auto;
}

.card {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    text-align: center;
}

.jokeText {
    font-size: 1.4rem;
    color: #222;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.pictureStyles {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 0.75rem;
}

.contributorText {
    color: #515151;
    margin-top: 0.5rem;
}


.modelList {
    display: flex;
    gap: 1.2rem;
    justify-items: center;
    flex-direction: column;
}

.itemCard {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}


.itemCard img {
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
}

/* ------------------------------ */
