/* file: quotes/static/quotes/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: whitesmoke;
    color: rgb(59, 59, 59);
}

header {
    margin-bottom: 20px;
}


nav {
    display:flex;
    justify-content: left;
    gap: 30px;
}

nav a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
    
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    transform: scale(1.1);
}

img {
    max-width: 300px;
    height: auto;
    margin: 10px 0;
    border-radius: 8px;
}


.quote {
    display: flex;
    font-size: 1.2em;
    align-items: center;
    font-style: italic;
    margin: 10px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: white;

    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.innerContainer {
    display: flex;
    gap: 20px;

    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
    
}

.quoteContainer {
    max-width: 800px;
    margin: 0 auto;
    margin: 20px;
}

.imgContainer {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    gap:30px;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    img {
        max-width: auto;
        max-height: 200px;
    }
    
}

