<!-- partout/templates/partout/base.html -->


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partout</title>
    <link rel="stylesheet" href="{% static 'partout/css/main.css' %}">

    <!-- allows access to the head components from child templates -->
    {% block sub_css %}{% endblock sub_css %}

</head>
    <body>
        <header>
            <nav class="navBar">
                <ul class="navList">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'market' %}">Market</a></li>
                    <li><a href="{% url 'profile' 1 %}">Profile</a></li>
                    <li><a href="{% url 'messages' %}">Messages</a></li>
                </ul>
            </nav>
        </header>
        <div id="blockContentContainer">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>