<!-- partout/templates/partout/home.html -->


{% extends 'partout/base.html' %}
{% load static %}

{% block sub_css %}
<link rel="stylesheet" href="{% static 'partout/css/home.css' %}">
{% endblock sub_css %}

{% block content %}

<div class="container">

    <div class="widget">
        <h3>Messages</h3>
        {% if messages %}
        
            {% for m in messages %}
                <a href="{% url 'conversation' m.conversation.pk %}">

                    <div class="messageCard">
                        {% if m.sender.profile_image %}
                        <img src="{{ m.sender.profile_image.url }}" alt="profile picture">
                        {% else %}
                        <img src="{% static 'partout/img/defaultpfp.jpg' %}" alt="profile picture">
                        {% endif %}
                        <h4>{{ m.sender.first_name }}</h4>
                        {% if not m.is_read %} 
                        <p style="font-weight: bolder;">{{ m.text|slice:30 }} {% if m.text|length > 30 %}...{% endif %}</p>
                        {% else %}
                        <p>{{ m.text|slice:30 }}{% if m.text.length > 30 %}...{% endif %}</p>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
        {% endif %}

        
        <a href="{% url 'messages' %}" class="home-link-button">See Conversations</a>

    </div>
   
    <div class="widget">
        <h3>Recent Activity</h3>
        {% if messages %}
        
            {% for m in messages %}
                <a href="{% url 'conversation' m.conversation.pk %}">

                    <div class="messageCard">
                        {% if m.sender.profile_image %}
                        <img src="{{ m.sender.profile_image.url }}" alt="profile picture">
                        {% else %}
                        <img src="{% static 'partout/img/defaultpfp.jpg' %}" alt="profile picture">
                        {% endif %}
                        <h4>{{ m.sender.first_name }}</h4>
                        {% if not m.is_read %} 
                        <p style="font-weight: bolder;">{{ m.text|slice:30 }} {% if m.text.length > 30 %}...{% endif %}</p>
                        {% else %}
                        <p>{{ m.text|slice:30 }}{% if m.text.length > 30 %}...{% endif %}</p>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
        {% endif %}

        
        <a href="{% url 'messages' %}" class="home-link-button">See Conversations</a>

    </div>
   
    <!-- recent listings based on garage -->
    <div class="widgetLong">
        <h3>Recent Listings</h3>
        <div class="listingGallery">
            {% for listing in recent_listings %}
            <a href="{% url 'show_listing' listing.pk %}">
                <div class="listingGalleryCard">
                    {% if listing.image %}
                    <img src="{{listing.image.url}}" alt="car part">
                    {% else %}
                    <img src="https://themechanicalengineering.com/wp-content/uploads/2020/09/Feature-Image-of-Piston.jpg" alt="car part">
                    {% endif %}
                    <h4>{{listing.title|slice:15}}</h4>
                    <p>{{ listing.description|slice:30 }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        
        <a href="{% url 'market' %}" class="home-link-button">Show all Listings</a>
        
    </div>
        

</div>

{% endblock %}