<!-- partout/templates/partout/market.html -->

{% extends 'partout/base.html' %}
{% load static %}

{% block sub_css %}
<link rel="stylesheet" href="{% static 'partout/css/market.css' %}">
{% endblock sub_css %}

{% block content %}

<div class="container">
    <h3>Active Listings</h3>
    {% if request.user.is_authenticated %}
        <a href="{% url 'create_listing' request.user.driver.pk  %}" class="create-button">Create Listing</a>
    {% endif %}
        <form class="widgetSearch">
        <!-- <div name="part_type" class="searchBox">
            <div class="searchInput">
                <label for="carSearch">Car</label>
                <input type="text" id="carSearch">
            </div>
        </div> -->
        <select name="part_type">
            <option value="">All parts</option>
            {% for value,label in part_type_choices %}
            <option value="{{ value }}" {% if current_filters.part_type == value %}selected{% endif %}>
                {{ label }}
            </option>
            {% endfor %}
        </select>

        <input type="text" name="q" placeholder="Search..." value="{{ current_filters.q }}">

        <button type="submit">Search</button>
    </form>
            
            
    <div class="widgetLong">
        <div class="listingGallery">
            {% for listing in listings %}
            <a href="{% url 'show_listing' listing.pk %}">

                <div class="listingGalleryCard">
                    {% if listing.image%}
                    <img src="{{ listing.image.url }}" alt="car part">
                    {% else %}
                    <img src="{% static 'partout/img/default_car.jpg' %}" alt="car part">
                    {% endif %}
                    <h4>{{ listing.title }}</h4>
                    <p>{{ listing.description|slice:45 }}{% if listing.description|length > 30 %}...{% endif %}
                    </p>
                </div>
                
            </a>
            {% endfor %}
        </div> 
    </div>
</div>

{% endblock content %}