<!-- partout/templates/partout/messages.html -->

{% extends 'partout/base.html' %}
{% load static %}

{% block sub_css %}
<link rel="stylesheet" href="{% static 'partout/css/messages.css' %}">
{% endblock sub_css %}

{% block content %}

<div class="container">

    <section class="offerMessages">
        <div class="widget">
            <h3>Listing Offers</h3>

            {% if offers %}
                {% for offer in offers %}
                        <div class="messageCard">
                            <img src="{{ offer.listing.image.url }}" alt="profile picture">
                            
                            <div class="messageInfo">
                                <h4>{{ offer.buyer.first_name }} {{ offer.buyer.last_name }}</h4>
                                <h4 style="color: green;">${{ offer.amount }}</h4>
                                <p>
                                    On: {{ offer.listing.title }}
                                    ({{ offer.get_status_display }})
                                </p>
                            </div>
                        </div>
                {% endfor %}
            {% else %}
                <p>You don't have any offers yet.</p>
            {% endif %}
        </div>
    </section>

    <section class="directMessages">
        <div class="widget">
            <div class="heading-container">
                <h3>Messages
                </h3>
                
            </div>
            <div>
                <a href="{% url 'start_convo' %}" class="new-convo-button">New Convo</a>
            </div>
            
            {% if conversations %}
                {% for convo in conversations %}
                <div class="messageCard">
                        <a href="{% url 'conversation' convo.pk %}">
                                <div>
                                    
                                {% with p=convo.participants.first %}
                                    {% if p %}
                                        {% if p.profile_image %}
                                        <img src="{{ p.profile_image.url }}" alt="profile picture">
                                        {% else %}
                                        <img src="{% static 'partout/img/defaultpfp.jpg' %}" alt="profile picture">
                                        {% endif %}
                                    {% endif %}
                                {% endwith %}

                                <div class="messageInfo">
                                    <h4>
                                        {% for p in convo.participants.all %}
                                            {{ p.first_name }} {{ p.last_name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </h4>

                                    <p>
                                        Last updated:
                                        {{ convo.updated|date:"M j, g:i a" }}
                                    </p>
                                </div>
                            </a>   
                        </div> 
                        <a href="{% url 'delete_convo' convo.pk %}" style="margin-left: auto;">
                            <p style="color: darkred;">Remove</p>
                        </a>   
                    </div>
                {% endfor %}
            {% else %}
                <p>You don't have any messages yet.</p>
            {% endif %}
        </div>
    </section>

</div>


{% endblock %}
