<!-- partout/templates/partout/profile.html -->

{% extends 'partout/base.html' %}
{% load static %}

{% block sub_css %}
<link rel="stylesheet" href="{% static 'partout/css/profile.css' %}">
{% endblock sub_css %}

{% block content %}
<div class="profilePage">
    <section class="widget profileHeader">
        <div class="profileHeader-main">
            {% if driver.profile_image %}
            <img src="{{ driver.profile_image.url }}" alt="Profile picture" class="profileAvatar">
            {% else %}
            <img src="{% static 'partout/img/defaultpfp.jpg' %}" alt="profile picture" class="profileAvatar">
            {% endif %}
            <div>
                <h1 class="profileName">
                    {{ driver.first_name }} {{ driver.last_name }}
                </h1>
                <p class="profileHandle">@{{ driver.username }}</p>
                <p class="profileLocation">{{ driver.city }} {{ driver.state }}</p>
            </div>
        </div>

        <div class="profileStats">
            <a href="{% url 'all_driver_listings' driver.pk %}">
                <div class="profileStat">
                    <span class="profileStat-number">{{ stats.total_listings }} </span>
                    <span class="profileStat-label">Total Listings</span>
                </div>
            </a>
            <a href="{% url 'active_driver_listings' driver.pk %}">
                <div class="profileStat">
                    <span class="profileStat-number">{{ stats.active_listings }}</span>
                    <span class="profileStat-label">Active Listings</span>
                </div>
            </a>
            <a href="{% url 'show_ratings' driver.pk %}">
                <div class="profileStat">
                    <span class="profileStat-number">{{ stats.rating }}</span>
                    <span class="profileStat-label">Rating</span>
                </div>
            </a>
            <a href="{% url 'show_followers' driver.pk %}">
                <div class="profileStat">
                    <span class="profileStat-number">{{ stats.followers }}</span>
                    <span class="profileStat-label">followers</span>
                </div>
            </a>
            <a href="{% url 'show_following' driver.pk %}">
                <div class="profileStat">
                    <span class="profileStat-number">{{ stats.following }}</span>
                    <span class="profileStat-label">following</span>
                </div>
            </a>
        </div>
    </section>
    <div>
        <div class="profile-bio">
            {{ driver.bio }}
        </div>
        <br>
        {% if request.user.is_authenticated %}
            {% if request.user == driver.user %}
                <a href="{% url 'update_profile' %}" id="update-button">Update Profile</a>
            {% else %}

                {% if followed_by_user %}
                    <a href="{% url 'delete_follow' driver.pk %}?action=unfollow" class="unfollow-button">Unfollow</a>
                {% else %}
                    <a href="{% url 'follow' driver.pk %}?action=follow"class="follow-button">Follow</a>
                {% endif %}

            {% endif %}
        {% endif %} 

        {% if request.user.is_authenticated %}

            {% if request.user == driver.user %}
            {% else %}
                <a href="{% url 'create_rating' driver.pk %}?action=unfollow" class="follow-button" style="background-color: #ffc107; color: #000; border-color: #000;">Rate</a>
            {% endif %}

        {% endif %} 
    </div>

    <section class="widget profileGarage">
        <h2>Garage</h2>
        <p class="profileGarage-subtitle">These cars help us recommend better listings and parts that fit.</p>

        <div class="profileGarage-list">
            {% for car in cars %}
            <div class="profileGarage-card">
                <h3>{{ car.make }} {{ car.model }} {{ car.trim }}
                    {% if request.user == driver.user %}
                        <a href="{% url 'delete_car' car.pk %}" style="float: inline-end;">
                            <p style="color: darkred;">Remove</p>
                        </a>    
                    {% endif %}
                            



                </h3>
                <p class="profileGarage-tagline">{{ car.ownership_type }}
                    {% if request.user == driver.user %}
                        <a href="{% url 'update_car' car.pk %}" style="float: inline-end; font-weight: bolder;">
                            <p style="color: #0a5aaa;">Update</p>
                        </a>    
                    {% endif %}
                </p>
                <p>{{ car.year }} {%if car.style %} • {{ car.style }} {% endif %} {% if car.engine_code %}• {{ car.engine_code }} {% endif %}</p>
            </div>
            {% endfor %}
            
            {% if request.user == driver.user %}
            <a href="{% url 'add_car' %}">
                <div class="profileGarage-card">
                    <h3>Add a Car</h3>
                    <p class="profileGarage-tagline">Ownership Type</p>
                    <p>Year, Make, Model, and Trim</p>
                </div>
            </a>
            {% endif %}
        </div>
    </section>

    <section class="widget">
        <a href="{% url 'all_driver_listings' driver.pk %}"><h2>All listings</h2></a>
        <div class="listingGallery">
            {% if stats.total_listings > 0 %}
                {% for listing in listings %}
                <a href="{% url 'show_listing' listing.pk %}">
                    <div class="listingGalleryCard">
                        {% if listing.image %}
                        <img src="{{ listing.image.url }}" alt="car part">
                        {% else %}
                        <img src="https://themechanicalengineering.com/wp-content/uploads/2020/09/Feature-Image-of-Piston.jpg" alt="car part">
                        {% endif %}
                        <h3>{{ listing.title }}</h3>
                        <p>{% if listing.car %} Fits {{ listing.car }} {% endif %} {% if listing.condition %} • {{ listing.condition }} {% endif %} {% if listing.open_to_offers %} • Open to Offers {% else %} • Firm on Price {% endif %} </p>
                    </div>
                </a>
                {% endfor %}

            {% else %}
                <div>
                    <h3>No Listings yet</h3>
                </div>
            {% endif %}
        </div>
    </section>

    <section class="widget">
        <a href="{% url 'saved_listings' %}"><h2>Saved listings</h2></a>
        <div class="listingGallery">
            {% if saved_listings and driver.pk == request.user.driver.pk %}
                {% for listing in saved_listings %}
                <a href="{% url 'show_listing' listing.pk %}">
                    <div class="listingGalleryCard">
                        {% if listing.image %}
                        <img src="{{ listing.image.url }}" alt="car part">
                        {% else %}
                        <img src="https://themechanicalengineering.com/wp-content/uploads/2020/09/Feature-Image-of-Piston.jpg" alt="car part">
                        {% endif %}
                        <h3>{{ listing.title }}</h3>
                        <p>{% if listing.car %} Fits {{ listing.car }} {% endif %} {% if listing.condition %} • {{ listing.condition }} {% endif %} {% if listing.open_to_offers %} • Open to Offers {% else %} • Firm on Price {% endif %} </p>
                    </div>
                </a>
                {% endfor %}

            {% else %}
                <div>
                    <h3 style="text-align: center;">Nothing saved yet, <br> go shopping!</h3>
                </div>
            {% endif %}
        </div>
    </section>

</div>
{% endblock content %}
