<!-- partout/templates/partout/show_followers.html -->

{% extends 'partout/base.html' %}
{% load static %}

{% block sub_css %}
<link rel="stylesheet" href="{% static 'partout/css/messages.css' %}">
{% endblock sub_css %}

{% block content %}

<a href="{% url 'show_profile' driver.pk %}"><- Back</a>
<h3>Following</h3>
<main class="widget" style="margin: 0 auto;">

    {% for follow in followers %}
        <profile>
    
            <a href="{% url 'show_profile' follow.driver_that_followed.pk %}" class="profile-link">
                <div class="messageCard">
                    {% if follow.driver_that_followed.profile_image %}
                    <img src="{{ follow.driver_that_followed.profile_image.url }}" alt="{{ follow.driver_that_followed.first_name }}" class="profile-image">
                    {% else %}
                    <img src="{% static 'partout/img/defaultpfp.jpg' %}" alt="profile picture" class="profileAvatar">
                    {% endif %}
                    <h5>{{ follow.driver_that_followed.first_name }} {{ follow.driver_that_followed.last_name }}</h5>
                    <h6><i>{{ follow.driver_that_followed.username }}</i></h6>
                </div>
            </a>
                
        </profile>
    {% endfor %}
</main>


{% endblock %}