<!-- partout/templates/partout/update_profile_form.html -->

{% extends 'partout/base.html' %}
{% load static %}

{% block sub_css %}
<link rel="stylesheet" href="{% static 'partout/css/update_profile_form.css' %}">
{% endblock sub_css %}

{% block content %}


<h1 id="titleCPF">{{ driver.username }}: Update Profile</h1>
<div id="boxCPF">
    <form action="{% url 'update_profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <table id="tableCPF">
            <tr>
                {{form.as_table}}
            </tr>
        </table>
        

        <div style="display: flex; gap: 100px; justify-content: center;">
            <input type="submit" name="submit" class="submit-button">
            <a href="{% url 'show_profile' request.user.driver.pk %}" class="cancel-button">cancel</a>
        </div>

    </form>
</div>

{% endblock %}