

/* base.html styling */

header {
    background-image:linear-gradient(rgb(105, 105, 255),rgb(131, 131, 201));
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
    color: rgb(244, 244, 244);
}

.navbar ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: rgb(239, 239, 239);
    font-weight: bold;
    transition: color 0.2s ease;
}

.navbar a:hover {
    color: black;
}




/* show_all_profiles styling */

h3 {
    margin-left: 1.6rem;
    letter-spacing: 2px;
    border-bottom: 1px solid #828282;
    padding: 10px;
    width: 250px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(105, 105, 255);
    border: 1px solid rgb(56, 56, 56);
    border-radius: 10px;
    padding: 1rem;
    color: white;

    h5, h6 {
        margin: 0;
    }

}



#pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
 
}


/* show_profile.html */

.detailProfile {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 15px;
    background-image:linear-gradient(rgb(105, 105, 255),rgb(131, 131, 201));
    font-family: Arial, sans-serif;
}

.detailProfile h3 {
    margin: 0;
    font-size: 1.6em;
    color: rgb(244, 244, 244);
    border-bottom: 0px solid red;
}

.detailProfile h4 {
    margin: 5px 0 15px 0;
    font-weight: normal;
    color: rgb(230, 230, 230);
}

.pfpUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap:1.8rem;

}

.profileConnections {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    padding: 10px 0;
    border-top: 1px solid rgb(137, 137, 248);
    border-bottom: 1px solid rgb(137, 137, 248);
}

.connectionsStat {
    text-align: center;
}

.connectionsStat p:first-child {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.detailProfile img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 30%;
    margin: 15px auto;
    border: 2px solid rgb(212, 212, 212);
}

.detailProfile p {
    color: rgb(233, 233, 233);
    line-height: 1.5;
}

.bioText {
    margin:0;
    padding-bottom:15px ;
}

.post {
    margin-top: 20px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;

    p {
      color: rgb(62, 62, 62)  
    }
}
